<!DOCTYPE html>
<html>

<head>
    <title>
        Admin Route
    </title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <table>
        <tr>
            <td>
                <form>
                
                    <button onclick="getUser()">클릭</button>
                </form>
            </td>
            <td>
                <table class="list" id="employeeList">
                    <thead>
                        <tr>
                            <th> <a href="#" onclick="location.href='ages.html'">ages</a></th>
                            <th> <a href="#" onclick="location.href='category.html'">category</a></th>
                            <th> <a href="#" onclick="location.href='gifttypes.html'">gifttypes</a></th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <td id="PriceRanges"></td>
                        <td id="FromPrices"></td>
                        <td id="ToPrices"></td>
                      
                    </tbody>
                    <thead>
                        <tr>
                            <th> <a href="#" onclick="location.href='interest.html'">interest</a></th>
                            <th> <a href="#" onclick="location.href='keywords.html'">keywords</a></th>
                            <th> <a href="#" onclick="location.href='natures.html'">natures</a></th>
                         
                        </tr>
                    </thead>
                    <tbody>
                        <td id="PriceRanges"></td>
                        <td id="FromPrices"></td>
                        <td id="ToPrices"></td>
                        
                    </tbody>
                    <thead>
                        <tr>
                       
                            <th> <a href="#" onclick="location.href='price.html'">price</a></th>
                            <th> <a href="#" onclick="location.href='products.html'">products</a></th>
                            <th> <a href="#" onclick="location.href='purposes.html'">purposes</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <td id="PriceRanges"></td>
                        <td id="FromPrices"></td>
                        <td id="ToPrices"></td>
                    </tbody>

                    <thead>
                        <tr>
                       
                            <th> <a href="#" onclick="location.href='temp_age.html'">temp_age</a></th>
                            <th> <a href="#" onclick="location.href='temp_category.html'">temp_category</a></th>
                            <th> <a href="#" onclick="location.href='temp_interest.html'">temp_interest</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <td id="PriceRanges"></td>
                        <td id="FromPrices"></td>
                        <td id="ToPrices"></td>
                    </tbody>

                    <thead>
                        <tr>
                       
                            <th> <a href="#" onclick="location.href='temp_nature.html'">temp_nature</a></th>
                            <th> <a href="#" onclick="location.href='temp_purpose.html'">temp_purose</a></th>
                            <th> <a href="#" onclick="location.href='temp_relation.html'">temp_relation</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <td id="PriceRanges"></td>
                        <td id="FromPrices"></td>
                        <td id="ToPrices"></td>
                    </tbody>

                    <thead>
                        <tr>
                       
                            <th> <a href="#" onclick="location.href='temp_season.html'">temp_season</a></th>
                         
                        </tr>
                    </thead>
                    <tbody>
                        <td id="PriceRanges"></td>
                       
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
    <!-- <script src="script.js"></script> -->
</body>

</html>