<!DOCTYPE html>
<html>
    <head>
        <title>
            Html CRUD with Pure JavaScript
        </title>
        <link rel="stylesheet" href="styles.css">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
    </head>
<body>
    <!-- <button onclick="resetUser()">리셋</button> -->
    <button onclick="getUser()">클릭</button>
    <button onclick="newUser()">new</button>

    <td>
        <table>
            <thead>
                <tr>
                    <th>ProductID</th>
                    <th>n1</th>
                    <th>n2</th>
                    <th>n3</th>
                    <th>n4</th>
                    <th>n5</th>
                    <th>n6</th>
                    <th>n7</th>
                    <th>n8</th>
                    <th>n9</th>
                    <th>n10</th>
                    <th>edit</th>
                    <th>delete</th>
                </tr>
            </thead>
            <tbody id="userInfo">

            </tbody>

        </table>
    </td>
    <form>
        <div>
            <label>ProductID*</label>
            <input type="text" name="ProductID" id="ProductIDForm">
        </div>
        <div>
            <label>n1</label>
            <input type="text" name="n1" id="n1Form">
        </div>
        <div>
            <label>n2</label>
            <input type="text" name="n2" id="n2Form">
        </div>
        <div>
            <label>n3</label>
            <input type="text" name="n3" id="n3Form">
        </div>
        <div>
            <label>n4</label>
            <input type="text" name="n4" id="n4Form">
        </div>
        <div>
            <label>n5</label>
            <input type="text" name="n5" id="n5Form">
        </div>
        <div>
            <label>n6</label>
            <input type="text" name="n6" id="n6Form">
        </div>
        <div>
            <label>n7</label>
            <input type="text" name="n7" id="n7Form">
        </div>
        <div>
            <label>n8</label>
            <input type="text" name="n8" id="n8Form">
        </div>
        <div>
            <label>n9</label>
            <input type="text" name="n9" id="n9Form">
        </div>
        <div>
            <label>n10</label>
            <input type="text" name="n10" id="n10Form">
        </div>


    </form>
    <button onclick="postUser()">add</button>
</body>

<script>
    function getUser() {
        $("#userInfo").empty();


        const config = {
            method: "get"
        };

        fetch("http:/localhost:5000/admin/temp_relation", config)
            .then(response => response.json())
            .then(data =>
            // console.log(data[0].PriceRange)
            {

                for (let i = 0; i < data.length; i++) {
                    var tr_obj = document.createElement("tr");
                    const ProductID = document.createElement("td");
                    const n1 = document.createElement("td");
                    const n2 = document.createElement("td");
                    const n3 = document.createElement("td");
                    const n4 = document.createElement("td");
                    const n5 = document.createElement("td");
                    const n6 = document.createElement("td");
                    const n7 = document.createElement("td");
                    const n8 = document.createElement("td");
                    const n9 = document.createElement("td");
                    const n10 = document.createElement("td");

                    const Edit = document.createElement("td");
                    const Delete = document.createElement("td");
                    Edit.id = i;
                    ProductID.textContent = data[i].ProductID;
                    n1.textContent = data[i].n1;
                    n2.textContent = data[i].n2;
                    n3.textContent = data[i].n3;
                    n4.textContent = data[i].n4;
                    n5.textContent = data[i].n5;
                    n6.textContent = data[i].n6;
                    n7.textContent = data[i].n7;
                    n8.textContent = data[i].n8;
                    n9.textContent = data[i].n9;
                    n10.textContent = data[i].n10;


                    // Edit.onclick = 'editUser()';
                    Edit.innerHTML = `<a onClick="editUser(this.id)">Edit</a>`;

                    Delete.innerHTML = `<a onClick="deleteUser()">Delete</a>`;

                    const userInfo = document.getElementById("userInfo");
                    tr_obj.appendChild(ProductID);
                    tr_obj.appendChild(n1);
                    tr_obj.appendChild(n2);
                    tr_obj.appendChild(n3);
                    tr_obj.appendChild(n4);
                    tr_obj.appendChild(n5);
                    tr_obj.appendChild(n6);
                    tr_obj.appendChild(n7);
                    tr_obj.appendChild(n8);
                    tr_obj.appendChild(n9);
                    tr_obj.appendChild(n10);

                    tr_obj.appendChild(Edit);
                    tr_obj.appendChild(Delete);
                    userInfo.appendChild(tr_obj);

                }

            }
            )
            .catch(error => console.log(error));
    }

    function editUser(tableName, params, rowId) {
        console.log('edit');
        console.log('tableName:', tableName);
        console.log('params:', params);
        console.log('rowId:', rowId);
        fnGoInsert(tableName, params, rowId);
    }

    function deleteUser(tableName, rowId) {
        console.log('Delete');
        console.log('tableName:', tableName);
        console.log('rowId:', rowId);

        const config = {
            method: "delete",
            body: JSON.stringify({ "Ages": rowId }),
            headers: {
                'Content-Type': 'application/json'
            }
        };

        fetch("http:/localhost:5000/admin/ages", config)
            .then(response => response.json())
            .then(data =>
            // console.log(data[0].PriceRange)
            {
                if(data.sqlMessage){
                    alert('상위 테이블을 삭제하세요. \n'+data.sqlMessage);
                }else{
                    alert("delete succeseed!");
                }
     
               
            }
            )
            .catch(error => alert(error));
    }

    function postUser() {
        var ProductID = document.getElementById("ProductID").value;
        var n1 = document.getElementById("n1").value;
        var n2 = document.getElementById("n2").value;
        var n3 = document.getElementById("n3").value;
        var n4 = document.getElementById("n4").value;
        var n5 = document.getElementById("n5").value;
        var n6 = document.getElementById("n6").value;
        var n7 = document.getElementById("n7").value;
        var n8 = document.getElementById("n8").value;
        var n9 = document.getElementById("n9").value;
        var n10 = document.getElementById("n10").value;




        let postData = {
            method: 'POST',
            body: JSON.stringify({ 
                "ProductID": ProductID, 
                "n1": n1,
                "n2": n2, 
                "n3": n3,
                "n4": n4, 
                "n5": n5,
                "n6": n6, 
                "n7": n7,
                "n8": n8, 
                "n9": n9,
                "n10": n10, 
}),
            headers: {
                'Content-Type': 'application/json'
            }
        };

        fetch("http:/localhost:5000/admin/temp_relation", postData)
            .then((response) => response.json())
            .then((data) => console.log(data));
        resetForm()
    }

    function resetForm() {
        document.getElementById("ProductID").value = "";
        document.getElementById("n1").value = "";
        document.getElementById("n2").value = "";
        document.getElementById("n3").value = "";
        document.getElementById("n4").value = "";
        document.getElementById("n5").value = "";
        document.getElementById("n6").value = "";
        document.getElementById("n7").value = "";
        document.getElementById("n8").value = "";
        document.getElementById("n9").value = "";
        document.getElementById("n10").value = "";

    }

    function fnGoInsert(clicked_id) {


        alert(clicked_id);

    }
</script>

</html>